{% extends 'base.html.twig' %}

{% block body %}
		<div class="hero">


			<div class="content">
				<h4>Bonjour, je suis</h4>
				<h1>KAYA
					<span>MEHMET</span>
				</h1>
				<h3>
					Peintre depuis plus de 20 ans.</h3>

			</div>
		</div>


<div class="realisation"> 
<h2 class="rea"> Mes dernières réalisation</h2>
</div>
	<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>


		<div class="service">
			<div class="title">
				<h2>Mes Services</h2>
			</div>

			<div class="box">
				<div class="card">
					<i class="fas fa-brush"></i>
					<h5>Peinture intèrieur & extérieur</h5>
					<div class="pra">
						<p>Every website should be built with two primary goals: Firstly, it needs.</p>

						<p style="text-align: center;">
							<a class="button" href="#">Read More</a>
						</p>
					</div>
				</div>

				<div class="card">

					<i class="fas fa-building"></i>
					<h5>Revêtement : PVC , Moquette</h5>
					<div class="pra">
						<p>Every website should be built with two primary goals: Firstly, it needs .</p>

						<p style="text-align: center;">
							<a class="button" href="#">Read More</a>
						</p>
					</div>
				</div>

				<div class="card">
					<i class="fa fa-hammer"></i>
					<h5>Béton ciré , Rénovation meubles</h5>
					<div class="pra">
						<p>Every website should be built with two primary goals: Firstly, it needs.</p>

						<p style="text-align: center;">
							<a class="button" href="#">Read More</a>
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="contact-me">
			<p>Une demande particulière , envie de changement ?
			</p>
			<a class="button-two" href="#">Devis Gratuis</a>
		</div>

{% endblock %}
